.vcard {
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 3px gray solid;
	
}

.n {
	padding-bottom: 10px;
}

.fn {
	font-weight: bold;
	font-size: larger;
}

.telephones {
	padding-left: 50px;
}

.tel {
	padding-right: 10px;
}

.emails {
	padding-left: 50px;
	font-family: Courier, "Courier New", monospace;
}

.email {
	padding-right: 10px;
}

.urls {
	padding-left: 50px;
}

.url {
	padding-right: 10px;
}

.bday {
	padding-left: 50px;
	color: purple;
}

.addresses {
	padding-left: 50px;
}

.adr {

}

.multilineaddress {
	padding-top: 10px;
	padding-bottom: 10px;
}

.street-address {

}

.locality {

}

.region {

}

.postal-code {

}

.country-name {

}

.geo {
	color: brown;
	font-family: Courier, "Courier New", monospace;
}

.categories {
	text-align: right;
}

.category {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: smaller;
	color: #555555;
	padding-left: 10px;
}

.work {
	color: darkgreen;
}

.home {
	color: darkblue;
}
